@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Montserrat:ital,wght@1,300&display=swap');

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    border: 0;
    overflow: hidden;
    display: block;
  }

h1 {
  position: relative;
  font-size: 3vw;
  font-family: Montserrat;
  text-align: center;
  color: snow;
}

.shop {
  display: none;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vw;
  left: 50%;
  top: 50%;
  background: rgb(28, 51, 67);
  border-radius: 0.5vw;
}